html, body {
  overflow: hidden;
  font-family: 'Playfair Display', serif;
  background-color:  #e8ebe0;
}

header {
  top: 10px;
  height: 10vh;
  display: flex;
  justify-content: space-between; 
  padding: 0px 20px;
  align-items: center;
  border-bottom: 3px solid  #387B11;
  width: 100%;
}

header h1 {
  color: #43A000
}

header h1 img {
  height: 40px;
}

.full-page {
  height: 90vh ;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center
}

.login-form{
 display: flex;
 flex-direction: column;
 padding: 30px;
 border-radius: 10px;
 border-width:  2px;
 background-color:	#12140824;
 color: #595454fa;
 align-items: center;
 width: 500px;
 box-shadow: 0px 4px 10px rgba(44, 158, 86, 0.4);
}

.login-form div{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-form form{
  width: 100%;
  padding: 30px;
 }

.login-form button{
  margin-top: 20px;
  padding: 8px;
  width: 100%;
  font-weight: bold;
  color: white;
  background-color: #85D400;
  border: none;
  border-radius: 15px;
 }

.logout-container .icon {
  width: 40px; 
  height: 40px;
  color:	#1214084e;
  margin: 0 10px;
  transition: transform 2.0s ease-in-out;
}

.icon:hover, .logout-text {
  color: red;
  font-weight: 900;
  font-size: 20px;
  cursor: pointer; 
}

.page {
  display: flex;
  height: 90vh;
}

.sidebar {
  width: 20%;
  background-color: #387b110f;
  display: flex;
  padding: 10px;
  flex-direction: column;
  border-top-right-radius: 35px;  
  border-bottom-right-radius: 35px; 
}

.sidebar nav {
  display: flex;
  flex-direction: column;
}

.sidebar button {
  margin-top: auto;
  margin-bottom: 12px;
  padding: 12px;
  border: none;
  text-align: left;
  background-color: transparent; 
  border-radius: 35px ;
  overflow: hidden;
  text-overflow:ellipsis;
}

.sidebar button span {
  display: inline-block;
  width: 100%;
}

.sidebar button.active {
  background-color:  #387B11;
  color:	#12140896;
}

.icon-text-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}

.icon-text-wrapper span {
  overflow: hidden;
  text-overflow: ellipsis;
  flex-grow: 1;
}

.main-content {
  flex: 1;
  padding: 20px;
}

.tabs {
  display: flex;
  border-bottom: 2px solid #161313;
}

.tab {
  padding: 10px;
  border: none;
  cursor: pointer;
  width: 100%;
  font-weight: bold;
  text-align: center;
  background: #12140824;
  overflow: hidden;
  
}

.tab.active {
  background: #387B11;
}

.dashboard-card {
  padding: 10px;
  background: #12140824;
  margin-bottom: 1px;

}

.card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.clinic, .med-name, .provider-col {
  flex: 3;
}

.date, .dosage, .date-col, .action-col, .button-item{
  flex: 2;
  text-align: center;
}

.view-btn {
  flex: 2;
  background: none;
  border: none;
  cursor: pointer;
}

.details-dropdown {
  background:  #e8ebe0;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
  font-size: 14px;
}

.details-dropdown p {
  margin: 5px 0;
}

.appointment-card {
  padding: 15px;
  background-color: #12140824;
  margin-bottom: 1px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border: 1px solid #ddd;
  border-radius: 10px;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.doctor-name {
  font-size: 14px;
  font-style: italic;
}

.appointment-details {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}

.requests-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  margin-top: 5px;
}

.appointment-date {
  font-weight: bold;
}

.appointment-time {
  display: flex;
  flex-direction: column; 
  align-items: center; 
  justify-content: center; 
  text-align: center; 
}

.btns {
  display: flex;
  gap: 10px;
  justify-content: center; 
  margin-top: 10px; 
}

.btns button {
  width: 100%;
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
}

.btns button:first-child {
  background-color: rgba(0, 128, 0, 0.822); 
}

.btns button:last-child {
  background-color: rgba(255, 0, 0, 0.822);
}

.status-badge {
  float: right;
  margin-right: 15px;
  padding: 5px 12px;
  border-radius: 20px;
  font-weight: bold;
  color: white;
  min-width: 80px; 
  text-transform: capitalize;
  opacity: 0.75;
  background-color: #2c73ba;
  text-align: center
}

.status-badge.paid {
  background-color: green;
}

.status-badge.pending {
  background-color: orange;
}

.status-badge.unpaid {
  background-color: red;
}

.item-header{
  padding: 10px;
  background: rgba(147, 145, 145, 0.878);
  font-weight: bold;
  display: flex;
}

.revoke-btn {
  background-color: red;
  color: rgb(81, 10, 10);
  border: none;
  padding: 5px 10px;
  border-radius: 10px;
  cursor: pointer;
}

.info-card {
  padding: 20px;
  margin: auto;
  overflow: hidden;
  border-radius: 12px;
  background-color:#12140824;
}

.profile-pic {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #ddd;
}

.patient-name {
  margin-top: 10px;
  font-size: 18px;
  font-weight: bold;
}

.details{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: left;
  gap: 10px;
}

.column {
  flex: 1;
  padding: 0 10px;
} 

.profile-section {
  display: flex; 
  align-items: center; 
  gap: 15px; 
  margin-bottom: 50px; 
  flex-wrap: wrap; 
  overflow: hidden;
  text-overflow: ellipsis;
  
}

.provider-pic {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #ddd;
}

.profile-info {
  display: flex;
  flex-direction: column;
  text-align: center; 
}

.profile-section div {
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center; 

}

.profile-section p {
  margin: 0; 
  text-align: center; 
  padding: 0; 
}

.visuals{
  display: flex;
  padding-left: 15%;
}

.progress-container {
  flex:1;
  max-width: 250px;
}

.appointment-container{
  flex:1;
  text-align: center;
}

.appointment-container p:first-child {
  font-size: 100px;
}

.calendar-container {
  flex:1;
  max-width: 120px;
}

.calendar-container button {
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.appointment-details {
  margin-top: 15px;
}

.calendar-card {
  display: flex;
  flex-direction: column; /* Stack items vertically */
  gap: 10px;
  padding: 10px;
  background: #f5f5f5;
  margin-bottom: 5px;
  border-radius: 5px;
}

.calendar-modal {
  position: fixed;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  border-radius: 10px;
}
.appointment-details{
  padding: 10px;
  padding-left: 2%;
  background:  #387B11;
  font-weight: bold;
  display: flex;
}

.calendar{
  display: flex;
  justify-content: center;
  align-items: center;
}
.react-calendar {
  width: 100% !important;
  max-height: 350px;
  background: transparent !important;;
  border: none !important;;
}

.react-calendar__tile--active {
  background-color: #1214084e !important;
}

.scrollable-appointments {
  max-height: 300px;
  overflow-y: auto;

}
.scrollable-appointments::-webkit-scrollbar {
 width: 8px;
}
.search-container {
  position: relative;
  width: 100%;
  max-width: 300px; /* Adjust width as needed */
}

.search-icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: gray;
}

.search-bar {
  width: 100%;
  padding: 10px 10px 10px 35px; 
  border: 1px solid #ccc;
  border-radius: 20px;
  outline: none;
}

.search-bar::placeholder {
  color: gray;
}

.patient-details{
  display: flex; 
  padding: 2%;
  gap: 3%;
  max-height: 300px;
  background-color: #387b110f;
}
.patient-details div:first-child{
  flex: 2;
  text-align: center;
  font-size: 24px;
}
.patient-details div:first-child img{
  margin-bottom: 3%;
}
.patient-details div:last-child{
  flex: 3;
}
.list-items{ 
 max-height: 40vh;
 overflow-x: auto;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Blurred background */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 10px;
  width: 80%;
  max-height: 80vh;
  text-align: center;
  overflow-y: auto;
  overflow-x: auto;
}

.notes-input {
  width: 100%;
  min-height: 100px;
  margin-bottom: 10px;
}

.prescription-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
  min-width: 400px;
}

.prescription-table input, .card-header input, .expand-prescription  {
  border: none;

}

.prescription-table th, .prescription-table td {
  border: 1px solid #ddd;
  padding: 8px;
}

.delete-btn {
  background: red;
  color: white;
  border: none;
  cursor: pointer;
  padding: 5px;
}

.status-label {
  font-weight: bold;
}

.status-label.active , .status-label.paid{
  color: #28a745;
}

.status-label.pending{
  color:orange;
}

.status-label.completed {
  color: #6c757d;
}

.appointment-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px; 
}

.appointment-form div,.appointment-form h4, .appointment-form button {
  width: 100%; 
  display: flex;
  flex-direction: column;
}

.appointment-form label {
  font-weight: bold;
  margin-bottom: 5px;
}

.appointment-form input,
.appointment-form select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.event-indicator {
  width: 80%;
  height: 5px;
  background-color:  #387B11;
  margin: auto;
  border-radius: 3px;
  margin-top: 2px;
}

.form-group {
  display: flex;
  margin-bottom: 15px;
  max-width: 400px;
}

.form-group label {
  flex:1;
  font-size: 14px;
}

.form-group input, select {
  flex:2;
  padding: 4px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.details button {
  margin-top: 15px;
  padding: 10px;
  background: #387B11;;
  color: white;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.record{
  background-color: #f5f5f5;
  padding: 15px
}

.edit-toggle  {
  position: relative;
  float: right;
  border: none;
  color: #666;
  cursor: pointer;
  font-size: 14px;
  padding: 4px 8px;
  background-color: #f5f5f5;
}

.back-btn{
  position: relative;
  border: none;
  color: #666;
  cursor: pointer;
  font-size: 16px;
  padding: 4px 8px;
  background: none;
}

.edit-toggle:hover, .back-btn:hover {
  color: #080808;
}

.edit-icon {
  font-size: 16px;
}
